body {
  background-color: #ffffff;
}

.text {
  color: #868686;
}

.heading {
  color: #000000;
}

img {
  display: block;
  margin-left: auto;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  padding: 16px 24px;
  border-bottom: 1px solid #dadce0;
  background-color: #fff;
  position: sticky;
  top: 0;
}
